{% extends "news/base_about.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>About Us</h1>
    <p>
        In today’s time attention spans are getting shorter and shorter. Also with limited available time and vast information to cover, it becomes difficult to stay updated with the current affairs. By providing concise and crisp information, we help you stay updated with a lot of information in a limited time and give you the choice of what to read.
    </p>
    <br />

    <h1>Our Mission</h1>
    <p>
        We bring you the latest news in short in your preferred language. We understand the need for a quick update hence, we take out all extra bits and give you a brief summary. We aim to give the user a quick news reading experience on the go. We will provide the user to polarize between sanguine and pessimistic news using advanced machine learning and deep learning algorithms. Apart from this we also provide a user with live stock prices of trendy stocks that are in demand.
    </p>
    <br />

    <h1>Developers</h1>
    <ul>
        <li>Darshil Mehta</li>
        <li>Rohan Ajmera</li>
        <li>Yash Dedhia</li>
    </ul>
    <br />
{% endblock content %}